.competitionheading{
    text-align: center;
    background-color:rgba(253, 212, 162, 0.881);
    margin: auto;
    width: fit-content;
    padding: 10px;

}
.compdesc{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
    color: rgb(95, 93, 93);

}
.compdesc h3{
    color: rgb(95, 93, 93);
    font-family: unset;
    font-size: 30px;
}
.compdescright{
    width: 35%;
    font-weight: bold;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}
.compdescleft{
    width: 35%;
    font-weight: bold;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif
}
.compdescright button{
    border-radius: 10px;
    width: 150px;
    
}
.compimpnote{
    text-align: center;
    background-color: #404040;
    color: white;
    margin: auto;
    width: fit-content;
    padding: 20px;
}
.compimpnote p{
    margin: 0;
}


@media screen and (max-width: 800px){
    .compdesc{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 20px;
    }
    .compdescleft{
        width: 80%
    }
    .compdescright{
        width: 80%;
    }
}