.year-btn {
  font-family: Poppins, sans-serif;
  font-weight: 600;
  font-size: 16px;
  padding: 1px 10px;
  cursor: pointer;
}

.year-btn:hover {
  color: orangered;
}

.active-btn-style {
  color: orangered;
}

.filter-btn {
  display: flex;
  width: 400px;
  margin: auto;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 475px) {
  .filter-btn {
    width: 300px;
  }
}