body{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    background-color: white;
    width: 100%;
    
}
header{
    display: flex;
    width: 100%;
    height: 5%;
    flex-direction: row;
    font-size: 90%;
    padding: 0 1rem;
    justify-content: space-around;
    background-color:transparent;
    color: black;  /* tobechanged */
    border-bottom: solid 1px white;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 0.1rem;
}
.headerLeft{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0.4rem 2rem;
    font-weight: 600;
}
.headerRight{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0.4rem 2rem;
    font-weight: 300;
}
.headerLeft div{
    padding: 0 0.5rem;
}
.headerRight i{
    padding: 0 0.5rem;
    font-weight: 300;
    font-size: 1rem;
}

/* nav bar */

nav{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 3rem;
    font-family: 'Poppins', sans-serif;
}

.navRight{
    display: flex;
    flex-direction: row;
    justify-content:center;
    color: black;  /* tobechanged */
    transition: 0.3s;
    font-size: 1rem;
    text-transform: uppercase;
}
.navRight a{
    padding: 0.8rem 0.5rem;
    font-weight: 600;
    transition: 0.3s;

}
.navLeft img{
    z-index: 2;
    float: left;
    height: 150%;
}
.navRight a:hover{
    color: #ffa026;
    cursor: grab;
}
.navRight button{
    background-color: #ffa026;
    border-radius: 15px;
    font-size: 1rem;
    margin: 0.5rem 0 0.5rem;
    color: white;
    border: #ffa026;
    padding: 0 1rem;
    font-weight: bold;
    
}
.navRight button:hover{
    background-color: #e18c1c;
}
@media screen and (max-width: 950px){
    .headerLeft{
        font-size: 50%;
    }
    .navRight a{
        display: none;
        align-items: center;
    }
}