.mypics{
    height: 600px;
    z-index: -999;
    object-fit:fill ;
    color: white;
    background-color: #0000006E;
}
.let{
    font-size: 300%;
    color: black;
    font-family: 'Times New Roman', serif;
}
@media screen and (max-width: 800px){
    .mypics{
        height: 400px;
        object-fit: cover;
    }
}